.navbar-customs {
  
  .link-style, i{
    color: $cultured;

    
  }
  a:hover {
      
      color: $indigo-dye-2;
    
  }
  .logo-0 {
    text-transform: uppercase;
    color: rgb(183, 201, 94);
    font-weight: 900;
  }
  .logo-1 {
    text-transform: uppercase;
    color: rgba(64, 160, 27, 0.939);
    text-shadow: darkgray;
  }
  
}
.collapsed-style {
  ul {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
  }
}
    