section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 1);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin: 50px 0;
    overflow: hidden;
    p {

    }
    img {
        &:hover {
            transform: scale(1.02);
        }
    }
}