
<div class="content-container">
    <h1>Add a new Stock..</h1>
    <form>
        <input type="text" placeholder="stockname" name="stockname" id="stockname">
        <input type="text" placeholder="isin" name="isin" id="isin">
        <input type="text" placeholder="stockname" name="stockname" id="stockname">
        <input type="text" placeholder="stockname" name="stockname" id="stockname">
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
        <button type="submit">Add Listing</button>
    </form>
</div>
