// Color Scheme 
$eerie-black: rgba(34, 34, 34, 1);
$onyx: rgba(61, 61, 61, 1);
$davys-grey: rgba(87, 87, 87, 1);
$battleship-grey: rgba(140, 140, 140, 1);
$cultured: rgba(245, 245, 245, 1);
$cadet-grey: rgba(135, 149, 161, 1);
$dark-electric-blue: rgba(80, 101, 119, 1);
$prussian-blue: rgba(24, 53, 76, 1);
$indigo-dye: rgba(20, 59, 90, 1);
$indigo-dye-2: rgba(41, 77, 105, 1);
$dark-grayxblack: #333;

// File imports
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');
@import './2-modules/modules-dir';
@import './1-pages/pages_dir';

body {
    
    color: $onyx;
}
