<div class="navbar">
    
    <a class="logo" routerLink="/home">
        <span class="logo-0">Stock</span>
        <span class="logo-1">Monitoring</span>
    </a>
    <a class ="link-element" routerLink="/all-listings">Listings
        <i class="bi bi-bar-chart-line-fill icon"></i>
    </a>
    <a class ="link-element" href="">
        <i class="icon bi bi-coin"></i>
        General
    </a>
    <a class ="link-element" href="">
        Charts
        <i class="icon bi bi-box-fill"></i></a>
    <a class ="link-element" routerLink="/testpage">
        <i class="bi bi-sun-fill"></i>
    </a>
    <div class="right-part dark-mode">
        
        <i class=" darkmode-switch bi bi-github"></i>
        <i class="bi bi-moon-fill"></i>
        <!--<i class="bi bi-sun-fill"></i> -->
    </div>
    <div class="mobile-menu">
        <div class="hamburger-menu">
            <i class="bi bi-list"></i>
        </div>
        
    </div>
</div>