<div class="content-container">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quo nesciunt laborum ullam mollitia, vitae a porro! Nisi, illum impedit eligendi culpa, maiores neque, dolore odio tenetur corporis recusandae est.

    </p>
    <img src="../../assets/podcast-alles-auf-aktien-header-image-removebg-preview (1).png"/>
    <button class="btn-style">

        Explore the Recommended Stocks now!

    </button>
    <div class="news-group">
        <div class="latest perfomance ">
            <h1>Apple</h1>
    
        </div>
        <div class="best-performance perfomance">
            <h1>Apple</h1>
        </div>
        <div class="worst-perfomance perfomance">
            <h1>Apple</h1>
        </div>
    </div>
  
</div>