
<div class="content-container">
    <div class="news-group">
        <div class="latest perfomance ">
            <h1>Apple</h1>
            <h1>ISIN</h1>
            <p>Most Recent Recommendation</p>
    
        </div>
        <div class="best-performance perfomance">
            <i class="bi bi-graph-up-arrow"></i>
            <p>Todays Top Performer</p>
        </div>
        <div class="worst-perfomance perfomance">
            <i class="bi bi-graph-down-arrow"></i>
            <p>Todays Worst Performer</p>
        </div>
    </div>
    <app-content-box contentImg={{imgBox[0]}} contentTxt={{txtBox[0]}} imgSub="quatsch">
        <button class="btn-style">
    
            Explore the Recommended Stocks now!
    
        </button>
    </app-content-box>
    
        
    <app-content-box contentImg={{imgBox[1]}} contentTxt={{txtBox[1]}} imgSub="quatsch"> 
        <button (click)="state ? requestData() : sendData()">requestData</button>

    </app-content-box>
   
    
        
    
    
    <button (click)="state ? requestData() : sendData()">requestData</button>
</div>